<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>添加图片信息</title>
    <style type="text/css">
        ul li{
            list-style: none;
        }
    </style>
</head>
<body>
<div >
    <h3>添加图片</h3>
    <form name="form" accept-charset="utf-8"  action="/photo/addPhoto" method="post">
        <ul >
            <li>
                <label for="userId"  class="input-tips2">用户ID：</label>
                <div class="inputOuter2">
                    <input type="text" id="userId" name="userId" maxlength="16" />
                </div>
            </li>
            <li>
                <label for="typeId" class="input-tips2">图片名字：</label>
                <div >
                    <input type="text" id="typeId"  name="photoName" maxlength="16"></input>
                </div>
            </li>
            <li>
                <label for="articleTitle" class="input-tips2">图片地址：</label>
                <div >
                    <input type="text" id="articleTitle"  name="photoAddr" maxlength="16"></input>
                </div>
            </li>
            <li>
                <label for="articleContent" class="input-tips2">图片描述：</label>
                <div >
                    <textarea type="text" id="articleContent"  name="photoInfo" rows="17" cols="50"></textarea>
                </div>
            </li>
            <li>
                <label for="articlesendTime" class="input-tips2">上传时间：</label>
                <div >
                    <input type="text" id="articlesendTime"  name="photoTime" maxlength="16"></input>
                </div>
            </li>
            <li>
                <div >
                    <input type="submit" value="提交"/>
                </div>
            </li>
        </ul>
    </form>
</div>
</body>
</html>